[Unit]
Description=CSYE 6225 App
ConditionPathExists=/opt/csye6225/Neha_Shende_002783740_05
After=network.target


[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/Neha_Shende_002783740_05
ExecStart=/usr/bin/node /opt/csye6225/Neha_Shende_002783740_05/app.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SysLogIdentifier=csye6225

[Install]
WantedBy=multi-user.target